DATABASE_URL=
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/v1/auth/google/callback
FILE_UPLOAD_PATH=./uploads
MAX_FILE_SIZE_MB=5
PORT=3000
FRONTEND_URL=http://localhost:5173
